<div class="container">
  <header class="row">
    <!-- form -->
    <div class="col-6">
      <app-formulario (nuevaTarea)="onInsertTarea($event)"></app-formulario>
    </div>
    <!-- filtros -->
    <div class="col-6">
      <app-filtros (prioridadEnviada)="onFiltroPrioridad($event)" (busquedaEnviada)="onSearch($event)"></app-filtros>
    </div>
  </header>
  <main>
    <!-- lista de tareas -->
    <app-lista-tareas [listaTareas]="arrTareas" (borrarTarea)="onDeleteTarea($event)"></app-lista-tareas>
  </main>
</div>
