<section class="container mt-5">
  <div class="row">
    <figure class="col-12 col-md-3">
      <img [src]="character?.img" [alt]="character?.nickname" class="img-fluid">
    </figure>
    <div class="col-12 col-md-9">
      <h2>{{ character?.name}}</h2>
      <ul class="list-group">
        <li class="list-group-item">Ocupación: {{character?.occupation}}</li>
        <li class="list-group-item">Fecha nacimiento: {{character?.birthday}}</li>
        <li class="list-group-item">Actor: {{character?.portrayed}}</li>
        <li class="list-group-item">Estado: {{character?.status}}</li>
      </ul>
    </div>
  </div>
  <button class="btn btn-warning" [routerLink]="['/home']">Volver a listado</button>
</section>
