<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']">Breaking Bad</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Characters</a>
          </li>
        </ul>
        <form class="d-flex" #searchForm="ngForm" (ngSubmit)="getDataForm(searchForm)">
          <input name="search" ngModel class="form-control me-2" type="search" placeholder="Buscar por nombre">
          <button class="btn btn-outline-success" type="submit">Buscador</button>
        </form>

        <div class="d-flex">
          <select class="form-select ms-3" name="category" id="category" (change)="onSelectCategory($event)">
            <option value="">Selecciona una categoria</option>
            <option *ngFor="let category of arrCategorias" [value]="category">{{ category }}</option>
          </select>
        </div>
      </div>
    </div>
  </nav>

</header>
