<div class="container">
  <h1>Sobre mi</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam officia natus minima. Asperiores, possimus cum
    modi quod aliquam perspiciatis soluta nam aperiam consequuntur at, sed nulla corporis quia temporibus quibusdam enim
    et expedita molestiae tempora provident, omnis perferendis quis distinctio! Quidem dolore dicta sunt? Quisquam ab
    cupiditate nostrum commodi laborum, ea sequi atque explicabo accusamus cum nobis laboriosam libero, repellendus,
    impedit quae in consectetur! Quo non maxime dolorum. Non, perspiciatis. Necessitatibus distinctio ut quo vitae fugit
    totam minus vel ex at? Modi officiis odit fuga molestias vitae neque ipsam, rerum voluptatem in saepe sit
    consequuntur esse labore laboriosam enim amet?</p>
  <p> Si te interesan mis producto aqui tienes una muestra de ellos</p>
  <button class="btn mx-auto btn-info w-100" [routerLink]="['/adrian']">Mis productos</button>
</div>
