<header>
  <!-- botones de mostrar sectiones-->
  <button [ngStyle]="{'background-color': colorForm}" (click)="cargarSeccion('formulario')"
    class="btn">Formulario</button>
  <button [ngStyle]=" {'background-color': colorUsers}" (click)="cargarSeccion('usuarios')"
    class="btn">Usuarios</button>
</header>
<main>
  <section [ngStyle]="{'display': vistaForm}" id="formulario">
    <h1>Formulario</h1>
    <div class="form">
      <div>
        <label for="usuario">Nombre de usuario</label>
        <input type="text" id="usuario" [(ngModel)]="newUser.name">
      </div>
      <div>
        <label for="email">Email</label>
        <input type="text" id="email" [(ngModel)]="newUser.email">
      </div>
      <button (click)="guardarUsuario()">Guardar Usuario</button>
    </div>


  </section>
  <section [ngStyle]="{'display': vistaUsers}" id="usuarios">
    <h1>Lista de Usuarios</h1>
    <ul [innerHTML]="mostrarUsuarios()">
    </ul>
  </section>
</main>
