<section class="container mt-5">
  <div class="row">

    <article class="col-12 col-md-6 col-lg-4" *ngFor="let character of arrCharacters">
      <app-character-card [myCharacter]="character"></app-character-card>
    </article>
  </div>
  <!-- paginación -->
  <nav class="mt-5">
    <ul class="pagination pagination-sm">
      <li *ngFor="let page of arrPagesButtons, let i = index" class="page-item" aria-current="page"
        routerLinkActive="active" [routerLink]="['/home', i+1]">
        <span class="page-link">{{i + 1}}</span>
      </li>
    </ul>
  </nav>

</section>
